*{
    padding: 0;
    margin: 0;
    font-family: Arial,Helvetica , sans-serif;
    box-sizing: border-box;

}
/*------------------Header------------------------*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    /* cho header nằm trùng vào line trang chủ*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255,225,255,0.3);

}

.logo{
    flex: 1;
    margin-top: 50px;

}
.menu{
    flex: 3;
    display: flex;
    font-size: 20px;
}
.menu li a{
    font-size: 18px;
    text-align: center;
}
.menu > li {
    padding:0 40px ;
    position: relative;
}
.sub-menu {
    position: absolute;
    width: 200px;
    border: 1px solid #ccc;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    /* tạo khung cho menu*/
    z-index: 1;
    background: bisque;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top: 50px;
    /* khi trỏ vào sẽ hiện ra menu*/
}
.sub-menu ul a{
    font-weight: normal!important;
    font-size: 12px!important;
}

.sub-menu li a:hover {
    background-color: #009549;
    font-weight: bold;
    color: black;
}


.menu  li  a{
    font-weight: bold!important;
    display: block;
    line-height: 20px ;
    color: darkcyan;
    font-size: 20px;
}

.other{
    flex: 1px;
    display: flex;
}
.other >li{
    padding:0 12px;
    position: relative; /*giữa các app header*/
}
.other li:after{ /* cuối line app header*/
    content:""; /* tạo liền gạch ở giữa các app*/
    display: block;
    width: 2px;
    height: 50%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.other li:last-child:after{
    display: none; /* Xoá gạch cuối ở các app vị trí cuối*/
}
.other  li:first-child{
    position: relative;
}
.other > li:first-child input{
    width: 200px;
    border: none;
    text-align: center;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #444444;
} /* thanh công cụ tìm kiếm*/
.other  li:first-child i{
    position: absolute;
    right: 10px;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;

    /* tạo lằn rạch ngang đen cuối trang*/
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}/*seach gg về aspect ratio của trang viblo */
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*------------------main------------------------*/


.container{
    background-image: url("hinhanh/background9.jpeg");
    width: 100%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    font-size : 20px;
    align-items: center;
    justify-content: center;

}

.login-form{
    width: 500px;
    margin: 20px auto;
    background-color: #cccccc;
    padding: 10px;
    border: 2px dotted #cccccc;
    border-radius: 10px;


}
h1{
    color: navy;
    font-size: 60px;
    height: 80px;
    text-align: center;
    background: khaki;
    font-family: Courier;

}

.input-box p{
    color: navy;
}
.input-box3{
    margin-bottom:5px;
    color: black;
    font-size: 20px;
    text-align:right;
}
.center{
    color: black;
    font-size : 20px;
    text-align : center;
}
.input-box input{
    width: 80%;
    padding-left: 30px;
    border: none;
    border-bottom: 2px solid navy;
    outline: none;
    font-size: 16px;
    background: transparent;
    margin-left: 10px;
    height: 40px;
}

.input-box i{
    margin-left: 30px;
    color: navy;
}
.btn-box{
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}
.btn-box button{
    padding: 20px 15px;
    border-radius: 2px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
    height: 50px;
}
/*------------------app------------------------*/
.app-container{
    text-align: center ;
    align-items: center;
    padding: 40px 0 50px 0; /* Căn chỉnh vị trí app */
}
.app{
    margin: 50px;
}
.app img{
    height: 50px ;
}
.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    color: #000;
    font-weight: bolder;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom : 2px solid saddlebrown;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

/* ----------------------------footer-----------------------------*/
.footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top img{
    height: 60px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;/* giữa các app footer*/
}
.footer-top li a{
    color: black; /* chỉnh màu */
}
.footer-top li:after{
    content:""; /* tạo liền gạch ở giữa các app*/
    display: block;
    width: 1px;
    height: 80%;
    background:  #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);/* căn chỉnh vị trí nét gạch giữa các app*/
}
.footer-top li:last-child:after{
    display: none; /* Xoá gạch cuối ở các app vị trí cuối*/
}

.footer-top li:last-child a{
    margin-right: 22px; /* khoảng cách giữa các app*/
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
}